<h1> Log In Here! </h1>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<%= form_for :user do |f |%> <!-- we are not creating a new user we are just finding a user in the database and checking their credentials so we change it to :user. It will provide the form action -->

<%= f.label :username %>
<%= f.text_field :username%>

<%= f.label :password %>
<%= f.password_field :password%>

<%= f.submit "Log In " %>

<% end%>