<%= link_to 'Home', sessions_path%>

<% if @user.errors.full_messages.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <%= error %> <br>
  <% end %>
<% end %>

<h1> Sign Up Here! </h1>
<h2> Once you sign up you will have access to your building inventory management system. </h2>


<%= form_for @user do |f |%>

<%= f.label :username %>
<%= f.text_field :username%>


<%= f.label :email%>
<%= f.email_field :email, required:true%>  <!--required:true gives the user the front validation but does not validate in the back end! -->


<%= f.label :password %>
<%= f.password_field :password%>

<%= f.submit "Sign Up" %>

<% end%>