<h1>My Buildings</h1>

<ul>
    <%@user_buildings.each do |building| %>
<li>
    <strong><%= building.name %></strong> 
    <%= link_to "Add a new building", new_product_building_path(building)%> | <!--nested new route -->
  
</li>

<% end %>

<h1>Other Users' Buildings</h1>

<ul>
   <%@buildings.each do |building| %>

<li>
  <strong><%= building.name %></strong> |
<!-- <strong><%= building.name %></strong> | -->

   <%= link_to "Add a new building", new_product_building_path(building)%> | <!--nested new route -->
</li>

<% end %>


