<h1>My Products</h1>

<ul>
<%  @user_products.each do |product| %>
<li>
  <strong><%= product.name %></strong> 
  <%=product.category %>  
  <%=product.description %>
  <%=product.date_added %>
  
  <%= link_to " My Building Products ", product_buildings_path(product)%> <!--nested new route -->

</li>

<% end %>

<h1>Other Users' Products</h1>

<ul>
<%  @products.each do |product| %>
<li>
  <strong><%= product.name %></strong> 
  <%=product.category %>  
  <%=product.description %>
  <%=product.date_added%>
  
  <%= link_to "My Building Products", product_buildings_path(product)%> <!--nested new route -->

</li>

<% end %>



