<%= link_to 'Home', sessions_path %>

<h1>My Products</h1>

<ul>
<%  @user_products.each do |product| %> 
<li>
  <%=product.created_at.strftime("%m/%d/%Y") %> |
    
  <strong><%= link_to product.name, product_path(product) %></strong> |
    
  <%=product.building.name %> |
    
  <%=product.category %>  |
     
  <%=product.description %> 
      
  
  
  <!--<%= link_to " My Building Products ", product_buildings_path(product)%> --> <!--nested new route -->

</li>

<% end %>

<br></br>


<button id='create-product-form-button' type="button" > Create a New Product List </button>
    
<div  id='create-product-form'>
  Place holder 
</div>



<br><br>




