<%= link_to 'Home', sessions_path %>

<h1>My Products</h1>

<ul>
<%  @user_products.each do |product| %> 
<li>
  <%=product.created_at.strftime("%m/%d/%Y") %> |
  <strong><%= product.name %></strong> |
  <%=product.building.name %> |
  <%=product.category %>  |
  <%=product.description %> |
  
  
  <%= link_to " My Building Products ", product_buildings_path(product)%> <!--nested new route -->

</li>

<% end %>

<!--
<h1>Other Users' Products</h1>

<ul>
<%  @products.each do |product| %>
<li>
<%=product.created_at.strftime("%m/%d/%Y") %> |
  <strong><%= product.name %></strong> |
  <%=product.building.name %> |
  <%=product.category %> |
  <%=product.description %> |
  
  


  <%= link_to "My Building Products", product_buildings_path(product)%>

</li>

<% end %>
-->


