<h1>Add a New Product Item</h1>

<ul>

<%= form_for @product do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>


  <%= f.select "category", ["Kitchen", "Printing Station", "Bathroom", "Honesty Market", "Common Area", "Grubmarket", "Other"], prompt: true  %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :building_id %>
  <%= f.collection_select :building_id, Building.all, :id, :name, prompt: true  %>

  
 <!--F <%= f.select :building_id, options_for_select(["Fine Arts", "Gas Tower", "La Brea", "Hollywood", "Promenade", "other"]), include_blank: true  %>  -->

<!--Find out how to change the floor numbers based on building selection. -->
      <br> 
      <br>
  <input type="checkbox" name="Yes" value="Yes"> I need more supplies!
  <input type="checkbox" name="NO" value="NO"> We are good with supplies this week!
  
      <br> 
      <br>
  
<div> How many do you need? </div>
<input type="number" name="quantity" min="1" max="100">
     <br> 
      <br>
  <input type="checkbox" name="Each" value="Each"> Each
  <input type="checkbox" name="Box" value="Box"> Box
     
    <br>
    <br>
 <div> <%= f.label :date_added %> :<div>
  <%= f.date_field :date_added %>


 
 <h3>If building not listed please create a building!</h3>
    <%= f.fields_for :building do |building|%>
      <%= building.label :name %>
      <%= building.text_field :name %>
      <% end %>
  
    
 <br>
 <br>
  <%= f.submit%>

<% end %>

</ul>