<h1>Add a New Product Item</h1>
<%= form_for @product do |f| %>

 <%= f.label :name %>
  <%= f.text_field :name %>
   
    <br></br>

  <%= f.label :category %>
   <select>
        <option value="Kitchen">Kitchen</option>
        <option value="Printing Station">Printing Station</option>
        <option value="Bathroom">Bathroom</option>
        <option value="Honesty Market">Honesty Market</option>
        <option value="Grubmarket">Grubmarket</option>
        <option value="Other">Other</option>
      </select>

    <br></br>

    <%= f.label :description %>
  <%= f.text_field :description %>
  
  <br></br>

  <%= f.label :building %>
   <%= f.select :building,options_for_select(["Fine Arts", "Gas Tower", "La Brea", "Hollywood", "Grubmarket", "other"]), include_blank: true  %>
 
  <br></br>
 
  <%= f.label :floor_num %>
  <%= f.select :floor_num,options_for_select(["1", "2", "3", "4", "5", "other"]), include_blank: true  %>
  
  <br></br>
<!--Find out how to change the floor numbers based on building selection. -->

 <%= f.label :in_stock %> <br>
  <input type="checkbox" name="Yes" value="Yes"> I need more items!<br>
  <input type="checkbox" name="NO" value="NO"> We are good with items this week!
  <p>How many do you need?</p>
  <input type="number" name="quantity" min="1" max="100"><br>
  <input type="checkbox" name="Each" value="Each"> Each<br>
  <input type="checkbox" name="Box" value="Box"> Box
    
  <br></br>

   <%= f.label :date_added %> <br>
  <%= f.date_field :date_added %>
  
  <br></br>

  <%= f.submit%>

<% end %>