<%= link_to 'Home', sessions_path %>

<h1><%= @product.name %></h1>
<p>

    <%= @product.building_id %> <br>

    <%= @product.category %> <br>

    <%= @product.description %> <br>

   
    
    <%= @product.created_at.try(:strftime, ("%m/%d/%Y")) %> <br>
</p>

<!--
<div>
     <p>
      <a class="Product_list" href="/products"> Product List </a>
    </p>
</div>
-->