<h1><%= @product.name %></h1>


<p>

<%= @product.building_id %> <br>

<%= @product.category %> <br>

<%= @product.description %> <br>

<%= @product.building.name %> <br>

<%= @product.created_at.strftime("%m/%d/%Y") %> <br>
</p>