<%= link_to 'Home', sessions_path %>

<h1><%= @product.name %></h1>
<p>
    <%= @product.building_id %> <br>

    <%= @product.category %> <br>

    <%= @product.description %> <br>

    <%= @product.created_at.try(:strftime, ("%m/%d/%Y")) %> <br>
</p>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<button>Show Building Product </button>
<div id="buildingProducts"></div>

<br></br>
<%= link_to 'Back', products_path %>
