<!DOCTYPE html>
<html>
  <head>
    <title>BuildingInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
<section class="section">
    <div class="container">
    <h1 class="title">
    </h1>

    <!--<%= link_to 'Home', sessions_path %> -->
  </div>
  <div class="column">
      <% if logged_in? %>
      <%= link_to 'Home', sessions_path %> |
      <%= link_to 'My Building', buildings_path %> |
      <%= link_to 'Create a new Building', new_building_path %> |
      <%= link_to 'Create a new Product', new_product_path %> |
      <%= link_to 'My Products', products_path %> |
      <%= link_to 'Logout', '/logout', method: :delete%> |
      <hr>
      <div id="flash_messages" class="flash_style">
      <% flash.each do |key, value| %>
       <%= content_tag(:div, value, :class => "flash #{key}") %>
      <h2><div class="alert alert-<%= key %>"><%= value %></div></h2>
  <% end %>
  
  <% flash.each do |name, msg| -%>
     <%= content_tag :div, msg, class: name %>
<% end -%>

</div>
    <% end %>   
    <%= yield %>
  </div>
 </section>
  </body>
</html>
