<!DOCTYPE html>
<html>
  <head>
    <title>BuildingInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <% if logged_in? %>
      <%= link_to 'Logout', '/logout', method: :delete%> <!--This will add logout to every page -->
      <%= link_to 'My Building', buildings_path%>
      <%= link_to 'Create a new Building', new_building_path %>
      <%= link_to 'Create a new Product', new_product_path %>
      <%= link_to 'My Products', products_path %> 

      <% flash.each do |key, value| %>
      <h2><div class="alert alert-<%= key %>"><%= value %></div></h2>
     
      <% end %>
    <% end %>

       
    <%= yield %>
  </body>
</html>
