<!DOCTYPE html>
<html>
  <head>
    <title>BuildingInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <%= link_to 'logout', '/logout', method: :delete %> <!--This will add logout to every page -->

    <%= yield %>
  </body>
</html>
