<!DOCTYPE html>
<html>
  <head>
    <title>BuildingInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <% if logged_in? %>
      <%= link_to 'Logout', '/logout', method: :delete%> <!--This will add logout to every page -->
      <%= link_to 'My Building', buildings_path%>
      <%= link_to 'Add a Floor', new_floor_path %>
      <%= link_to 'Add a Product', new_product_path %>
      <%= link_to 'All Products', products_path %>
      <%= link_to 'Add a Building', new_building_path %>
    <% else %>
      <%= link_to 'Log In', login_path %>
    <% end %>

       
    <%= yield %>
  </body>
</html>
